<header class="header">
  <div class="header-left">
    <a href="/" class="header-logo">
      <img src="/assets/images/logo.png">
    </a>
    <div class="header-menu" (click)="openSidebar()"></div>
  </div>
  <div class="header-right">
    <div class="header-online">
      <i class="icon icon-toggle checked"></i>
      <span>Онлайн</span>
    </div>
    <div class="header-request">
      <i class="icon icon-bell"></i>
      <span>Ближайшая заявка: <b><a href="#">через 38 мин</a></b></span>
      <a href="#" class="button">Создать заявку</a>
    </div>
    <div class="header-user">
      <div class="header-user-avatar">
        <img src="/assets/images/user.png">
      </div>
      <span>Константин Петров</span>
    </div>
  </div>
</header>