@import '../../assets/styles/shared-import';

.page-index {
  max-height: 100%;
  padding: 35px 25px 30px 28px;
  overflow: auto;

  &-info {
    padding: 37px 23px 37px 37px;
    display: flex;
    border-radius: 4px;
    background-color: $color-white;
    box-shadow: 0 0 13px $color-gray2;
  }

  &-grid {
    margin: 20px -10px 0;
    display: flex;
  }
  &-col {
    width: 25%;
    padding: 10px;
    font-size: 15px;
    text-align: center;
    color: $color-gray5;
  }

  &-panel {
    display: block;
    padding: 37px;
    border-radius: 4px;
    background-color: $color-white;
    box-shadow: 0 0 13px $color-gray2;

    &:hover,
    &:focus,
    &:active {
      box-shadow: 0 0 13px rgba(0, 0, 0, 0.1);
    }

    &-icon {
      width: 82px; height: 82px;
      margin: 0 auto 22px;
      line-height: 82px;
      text-align: center;
      border-radius: 50%;
      border: 1px solid $color-gray6;
    }
  }

  &-load {
    width: 40%;
    padding-right: 43px;
    text-align: center;

    &-diagram {  }

    &-amount {
      margin-top: -27px;
      font-size: 14px;
      line-height: 28px;

      span {
        font-size: 36px;
        display: block;
      }
    }
    &-revenue {
      font-size: 22px;
      line-height: 26px;
    }
    &-percent {
      position: relative;
      margin-top: 10px;

      span {
        color: $color-gray5;
        font-weight: 700;
      }
      &:before {
        content: '';
        width: 11px; height: 9px;
        margin: 0 4px 3px -2px;
        display: inline-block;
        vertical-align: middle;
        background-image: url(/assets/images/icon-arrow-bottom.png);
        background-repeat: no-repeat;
        background-position: center;
      }

      &.positive {
        span { color: $color-blue2; }
        &:before { background-image: url(/assets/images/icon-arrow-top-green.png); }
      }
    }

    hr {
      width: 170px;
      height: 2px;
      margin: 20px auto 22px;
      background-color: $color-gray4;
      border: none;
    }
  }
  &-graph {
    width: 60%;
    padding: 8px 0 0 2px;
  }
}