<div class="page-index">
  <h2>15:00&nbsp;&nbsp;·&nbsp;&nbsp;14 января, Понедельник</h2>

  <div class="page-index-info clearfix">
    <div class="page-index-load">
      <h3>Общая загрузка</h3>
      <div class="page-index-load-diagram">
        <img src="/assets/images/diagram.png">
      </div>
      <p class="page-index-load-amount"><span>25</span> заявок</p>
      <hr>
      <p class="page-index-load-revenue">Выручка: 150 000 руб.</p>
      <p class="page-index-load-percent positive"><span>1%</span> к прошлой неделе</p>
    </div>
    <div class="page-index-graph">
      <img src="/assets/images/graph.png">
    </div>
  </div>

  <div class="page-index-grid clearfix">
    <div class="page-index-col">
      <a href="#" class="page-index-panel">
        <div class="page-index-panel-icon">
          <img src="/assets/images/icon-page-car-wash-active.png">
        </div>
        <p>Автомойки</p>
      </a>
    </div>
    <div class="page-index-col">
      <a href="#" class="page-index-panel">
        <div class="page-index-panel-icon">
          <img src="/assets/images/icon-page-employees-active.png">
        </div>
        <p>Сотрудники</p>
      </a>
    </div>
    <div class="page-index-col">
      <a href="#" class="page-index-panel">
        <div class="page-index-panel-icon">
          <img src="/assets/images/icon-page-services-active.png">
        </div>
        <p>Услуги</p>
      </a>
    </div>
    <div class="page-index-col">
      <a href="#" class="page-index-panel">
        <div class="page-index-panel-icon">
          <img src="/assets/images/icon-page-discounts-active.png">
        </div>
        <p>Скидки</p>
      </a>
    </div>
    
  </div>

</div>