<aside>
  <nav>
    <ul>
      <ng-container *ngFor="let item of mainNavItemList; let i = index">
        <li>
          <a [routerLink]="item.url" routerLinkActive="active" routerDirection="root">
            <i class="icon {{ item.iconName }}"></i>
            <span>{{ item.title }}</span>
          </a>
         </li>
         <hr *ngIf="i == 5 || i == 6">
      </ng-container>
    </ul>
  </nav>
</aside>