<div class="container" [class.sidebarOpen]="this.sidebarService.isSidebarOpened">
  <app-account-header></app-account-header>
  <div class="page">
    <app-account-sidebar></app-account-sidebar>
    <router-outlet></router-outlet>
  </div>
</div>