*, *:after, *:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-base;
  font-size: 14px;
  line-height: 1.22;
  color: $color-dark;
  background-color:  $color-gray1;
}
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

header {
  background-color: $color-white;
}
.header {
  display: flex;
  border-bottom: 1px solid $color-gray3;

  &-left {
    min-width: 250px;
    max-width: 250px;
    padding: 15px 39px;
    display: flex;
    justify-content: space-between;
    background-color: $color-white;
    box-shadow: 0 0 13px $color-gray2;
  }
  &-right {
    padding: 0 24px 0 30px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-logo {
    display: inline-block;
    vertical-align: middle;
  }

  &-menu {
    width: 20px;
    height: 100%;
    cursor: pointer;
    background-image: url(/assets/images/icon-menu.png);
    background-repeat: no-repeat;
    background-position: center;
  }

  &-online {
  }

  &-request {
    margin-right: 65px;
    .icon-bell {
      margin-right: 5px;
    }
    .button {
      margin-left: 28px;
    }
  }

  &-user {
    position: relative;
    padding-right: 20px;
    cursor: pointer;

    &-avatar {
      width: 40px; height: 40px;
      margin-right: 6px;
      display: inline-block;
      vertical-align: middle;
      border-radius: 50%;
      overflow: hidden;
    }

    &:after {
      content: '';
      position: absolute;
      top: 0; right: 0;
      width: 7px; height: 100%;
      background-image: url(/assets/images/icon-arrow-bottom.png);
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .icon-toggle {
    margin-right: 8px;
  }
}

.page {
  position: relative;
  overflow: hidden;
  flex: 1;
  transition: all 0.5s;

  .sidebarOpen & { padding-left: 250px; }
}

aside {
  position: absolute;
  left: -100%; top: 0;
  min-width: 250px;
  max-width: 250px;
  height: 100%;
  padding: 22px 37px;
  float: left;
  background-color: $color-white;
  box-shadow: 0 0 13px $color-gray2;
  overflow: auto;
  transition: all 0.5s;

  .sidebarOpen & { left: 0; }

  nav {
    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;

      hr {
        height: 1px; width: 100%;
        margin: 21px 0;
        border: none;
        background-color: $color-gray4;
      }

      li {
        font-size: 15px;
        line-height: 55px;

        i { margin-right: 9px; }
        span { margin-top: 1px; }

        a {
          color: $color-gray5;

          &:hover,
          &:focus,
          &:active
          &.active {
            color: $color-blue;
          }
        }
      }
    }
  }
}