/*************
 *** Icons ***
 *************/

.icon {
  width: 28px; height: 28px;
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;

  &-toggle {
    position: relative;
    width: 44px;
    height: 24px;
    border-radius: 12px;
    background-color: #eee;

    &:after {
      content: '';
      position: absolute;
      top: 2px; left: 2px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: $color-white;
    }

    &.checked {
      background-color: #1ece6b;

      &:after {
        left: auto; right: 2px;
      }
    }
  }

  &-bell {
    background-image: url(/assets/images/icon-bell.png);
  }

  &-page-main {
    background-image: url(/assets/images/icon-page-main.png);
  }
  &-page-requests {
    background-image: url(/assets/images/icon-page-requests.png);
  }
  &-page-car-wash {
    background-image: url(/assets/images/icon-page-car-wash.png);
  }
  &-page-employees {
    background-image: url(/assets/images/icon-page-employees.png);
  }
  &-page-services {
    background-image: url(/assets/images/icon-page-services.png);
  }
  &-page-discounts {
    background-image: url(/assets/images/icon-page-discounts.png);
  }
  &-page-statistics {
    background-image: url(/assets/images/icon-page-statistics.png);
  }
  &-page-settings {
    background-image: url(/assets/images/icon-page-settings.png);
  }
  &-page-feedback {
    background-image: url(/assets/images/icon-page-feedback.png);
  }
}

/***************
 *** Buttons ***
 ***************/

.button {
  @include button();
}