@font-face {
  font-family: 'OpenSans';
  src: url('/assets/fonts/OpenSans/OpenSans-Regular.eot');
  src: url('/assets/fonts/OpenSans/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/OpenSans/OpenSans-Regular.woff') format('woff'),
       url('/assets/fonts/OpenSans/OpenSans-Regular.ttf') format('truetype'),
       url('/assets/fonts/OpenSans/OpenSans-Regular.svg#OpenSans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url('/assets/fonts/OpenSans/OpenSans-SemiBold.eot');
  src: url('/assets/fonts/OpenSans/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/OpenSans/OpenSans-SemiBold.woff') format('woff'),
       url('/assets/fonts/OpenSans/OpenSans-SemiBold.ttf') format('truetype'),
       url('/assets/fonts/OpenSans/OpenSans-SemiBold.svg#OpenSans-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url('/assets/fonts/OpenSans/OpenSans-Bold.eot');
  src: url('/assets/fonts/OpenSans/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/OpenSans/OpenSans-Bold.woff') format('woff'),
       url('/assets/fonts/OpenSans/OpenSans-Bold.ttf') format('truetype'),
       url('/assets/fonts/OpenSans/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}