@mixin button() {
  width: auto;
  height: 36px;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0 25px 0 25px;
  line-height: 36px;
  font-weight: 700;
  color: $color-white;
  border-radius: 4px;
  background-color: #3ba4ec;

  &:hover,
  &:focus,
  &:active {
    color: $color-white;
    opacity: 0.7;
  }
}