a {
  color:  $color-blue;
  text-decoration: none;
  transition: all 0.25s;

  &:hover,
  &:focus,
  &:active {
    color:  $color-dark;
    text-decoration: none;
  }
}

img {
  max-width: 100%;
  vertical-align: middle;
}

h2 {
  margin: 0 0 37px;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: $color-dark;
  text-align: left;
}

h3 {
  margin: 0 0 21px;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  color: $color-dark;
  text-align: center;
}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}