/*************
 *** Fonts *** 
 *************/

$font-base:     'OpenSans';

/**************
 *** Colors *** 
 **************/

$color-white:   #fff;
$color-gray1:   #f5f7fa;
$color-gray2:   #fafafa;
$color-gray3:   #eee;
$color-gray4:   #f8f8f8;
$color-gray5:   #94979b;
$color-gray6:   #e5e5e5;
$color-gray7:   #7e8c8d;
$color-gray8:   #95a4a7;
$color-gray9:   #eaeaea;
$color-dark:    #333;
$color-black:   #000;

$color-blue:    #2c98dd;
$color-blue2:   #4bc0c0;
$color-red:     #ff6484;
$color-yellow:  #fddd90;
$color-green:   #1aaf5e;