@import '../../assets/styles/shared-import';

.page-orders {
  height: 100%;
  overflow: auto;
  padding: 35px 36px 40px 39px;

  h2 { margin-bottom: 28px; }

  &-lists {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0 -10px;
  }

  &-list {
    width: 25%;
    padding: 0 10px;

    &-status {
      margin-bottom: 20px;
      font-size: 18px;
      font-weight: 600;
      line-height: 22px;
      letter-spacing: -0.5px;

      sup { font-size: 10px; color: $color-gray7; }
    }

    &.onway     { .page-orders-item-bg { background-color: $color-red;    } }
    &.inwork    { .page-orders-item-bg { background-color: $color-yellow; } }
    &.completed { .page-orders-item-bg { background-color: $color-green;  } }
    &.canceled  { .page-orders-item-bg { background-color: $color-dark;   } }
  }

  &-item {
    display: block;
    min-height: 140px;
    padding: 25px 15px 19px;
    font-size: 13px;
    color: $color-gray7;
    border-radius: 5px;
    background-color: $color-white;

    display: flex;
    flex-wrap: wrap;
    align-content: space-between;

    &-bg {
      padding-left: 3px;
      border-radius: 5px;
      background-color: $color-dark;
      & + .page-orders-item-bg { margin-top: 5px; }
    }
    &-number {
      width: 40%;
      font-size: 18px;
      color: $color-gray8;
      b { margin-left: 2px; font-weight: 700; color: $color-dark; }
    }
    &-rating {
      margin-top: 12px;
      span {
        width: 17px;
        height: 16px;
        float: left;
        background-image: url(../../assets/images/icon-star.png);
        background-repeat: no-repeat;
        background-size: auto 100%;
        background-position: right center;
      }
      &.rating-1 span:nth-child(1),
      &.rating-2 span:nth-child(1),
      &.rating-2 span:nth-child(2),
      &.rating-3 span:nth-child(1),
      &.rating-3 span:nth-child(2),
      &.rating-3 span:nth-child(3),
      &.rating-4 span:nth-child(1),
      &.rating-4 span:nth-child(2),
      &.rating-4 span:nth-child(3),
      &.rating-4 span:nth-child(4),
      &.rating-5 span:nth-child(1),
      &.rating-5 span:nth-child(2),
      &.rating-5 span:nth-child(3),
      &.rating-5 span:nth-child(4),
      &.rating-5 span:nth-child(5) { background-position: left center; }
    }
    &-timedata {
      width: 60%;
      padding-right: 5px;
      font-weight: 600;
      p { margin-top: 5px; }
      span { font-size: 18px; color: $color-dark; }
      .page-orders-item-timer ~ * { font-size: 13px; font-weight: 400; }
    }
    &-timer {
      float: left;
      margin-right: 13px;
      padding: 6px;
      font-size: 18px;
      color: $color-dark;
      border-radius: 3px;
      background-color: $color-yellow;
    }
    &-plate {
      width: 40%;
      margin-top: 10px;
      text-transform: uppercase;
      span {
        display: inline-block;
        padding: 5px 6px;
        border: 1px solid $color-gray6;
        &:first-child { border-radius: 3px 0 0 3px; }
        &:last-child { border-radius: 0 3px 3px 0; border-left: none; }
      }
    }
    &-brand {
      width: 60%;
      margin-top: 10px;
      padding-right: 6px;
      letter-spacing: -0.7px;
      display: flex;
      align-items: center;
    }
    &-progressbar {
      position: relative;
      width: 100%;
      height: 23px;
      margin-top: 16px;
      font-weight: 600;
      color: $color-white;
      line-height: 23px;
      text-align: center;
      border-radius: 2px;
      background-color: $color-gray9;

      span { position: relative; z-index: 1; }
      .page-orders-item-progress {
        position: absolute;
        left: 0; top: 0;
        z-index: 0;
        height: 100%;
        border-radius: 2px;
        background-color: $color-green;
      }
    }
  }
}