<div class="page-orders">
  <h2>Заявки</h2>

  <div class="page-orders-lists">
    <div class="page-orders-list onway">
      <p class="page-orders-list-status">В пути <sup>1</sup></p>
      <div class="page-orders-item-bg">
        <a href="/order" class="page-orders-item">
          <div class="page-orders-item-number">
            <span>№<b>632</b></span>
          </div>
          <div class="page-orders-item-timedata">
            <span>18:00–18:25</span>
            <p>28.11.2018</p>
          </div>
          <div class="page-orders-item-plate">
            <span>Р567ОК</span><span>799</span>
          </div>
          <div class="page-orders-item-brand">
            <span>Land Rover Range Rover Sport</span>
          </div>
        </a>
      </div>
    </div>
    <div class="page-orders-list inwork">
      <p class="page-orders-list-status">В работе <sup>3</sup></p>
      <div class="page-orders-item-bg">
        <a href="/order" class="page-orders-item">
          <div class="page-orders-item-number">
            <span>№<b>632</b></span>
          </div>
          <div class="page-orders-item-timedata">
            <div class="page-orders-item-timer">00:35</div>
            <span>18:00–18:25</span>
            <p>28.11.2018</p>
          </div>
          <div class="page-orders-item-plate">
            <span>Р567ОК</span><span>799</span>
          </div>
          <div class="page-orders-item-brand">
            <span>Land Rover Range Rover Sport</span>
          </div>
        </a>
      </div>
      <div class="page-orders-item-bg">
        <a href="/order" class="page-orders-item">
          <div class="page-orders-item-number">
            <span>№<b>632</b></span>
          </div>
          <div class="page-orders-item-timedata">
            <div class="page-orders-item-timer">00:35</div>
            <span>18:00–18:25</span>
            <p>28.11.2018</p>
          </div>
          <div class="page-orders-item-plate">
            <span>Р567ОК</span><span>799</span>
          </div>
          <div class="page-orders-item-brand">
            <span>Land Rover Range Rover Sport</span>
          </div>
        </a>
      </div>
      <div class="page-orders-item-bg">
        <a href="/order" class="page-orders-item">
          <div class="page-orders-item-number">
            <span>№<b>632</b></span>
          </div>
          <div class="page-orders-item-timedata">
            <span>18:00–18:25</span>
            <p>28.11.2018</p>
          </div>
          <div class="page-orders-item-plate">
            <span>Р567ОК</span><span>799</span>
          </div>
          <div class="page-orders-item-brand">
            <span>Mercedes-Benz 300 CLS</span>
          </div>
          <div class="page-orders-item-progressbar">
            <div class="page-orders-item-progress" style="width: 78%;"></div>
            <span>78%</span>
          </div>
        </a>
      </div>
    </div>
    <div class="page-orders-list completed">
      <p class="page-orders-list-status">Завершённые <sup>24</sup></p>
      <div class="page-orders-item-bg">
        <a href="/order" class="page-orders-item">
          <div class="page-orders-item-number">
            <span>№<b>632</b></span>
            <div class="page-orders-item-rating rating-4 clearfix">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
          <div class="page-orders-item-timedata">
            <span>18:00–18:25</span>
            <p>28.11.2018</p>
          </div>
          <div class="page-orders-item-plate">
            <span>Р567ОК</span><span>799</span>
          </div>
          <div class="page-orders-item-brand">
            <span>Land Rover Range Rover Sport</span>
          </div>
        </a>
      </div>
      <div class="page-orders-item-bg">
        <a href="/order" class="page-orders-item">
          <div class="page-orders-item-number">
            <span>№<b>632</b></span>
            <div class="page-orders-item-rating rating-4 clearfix">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
          <div class="page-orders-item-timedata">
            <span>18:00–18:25</span>
            <p>28.11.2018</p>
          </div>
          <div class="page-orders-item-plate">
            <span>Р567ОК</span><span>799</span>
          </div>
          <div class="page-orders-item-brand">
            <span>Land Rover Range Rover Sport</span>
          </div>
        </a>
      </div>
      <div class="page-orders-item-bg">
        <a href="/order" class="page-orders-item">
          <div class="page-orders-item-number">
            <span>№<b>632</b></span>
            <div class="page-orders-item-rating rating-4 clearfix">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
          <div class="page-orders-item-timedata">
            <span>18:00–18:25</span>
            <p>28.11.2018</p>
          </div>
          <div class="page-orders-item-plate">
            <span>Р567ОК</span><span>799</span>
          </div>
          <div class="page-orders-item-brand">
            <span>Land Rover Range Rover Sport</span>
          </div>
        </a>
      </div>
      <div class="page-orders-item-bg">
        <a href="/order" class="page-orders-item">
          <div class="page-orders-item-number">
            <span>№<b>632</b></span>
            <div class="page-orders-item-rating rating-4 clearfix">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
          <div class="page-orders-item-timedata">
            <span>18:00–18:25</span>
            <p>28.11.2018</p>
          </div>
          <div class="page-orders-item-plate">
            <span>Р567ОК</span><span>799</span>
          </div>
          <div class="page-orders-item-brand">
            <span>Land Rover Range Rover Sport</span>
          </div>
        </a>
      </div>
      <div class="page-orders-item-bg">
        <a href="/order" class="page-orders-item">
          <div class="page-orders-item-number">
            <span>№<b>632</b></span>
            <div class="page-orders-item-rating rating-4 clearfix">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
          <div class="page-orders-item-timedata">
            <span>18:00–18:25</span>
            <p>28.11.2018</p>
          </div>
          <div class="page-orders-item-plate">
            <span>Р567ОК</span><span>799</span>
          </div>
          <div class="page-orders-item-brand">
            <span>Land Rover Range Rover Sport</span>
          </div>
        </a>
      </div>
    </div>
    <div class="page-orders-list canceled">
      <p class="page-orders-list-status">Отменённые <sup>2</sup></p>
      <div class="page-orders-item-bg">
        <a href="/order" class="page-orders-item">
          <div class="page-orders-item-number">
            <span>№<b>632</b></span>
          </div>
          <div class="page-orders-item-timedata">
            <span>18:00–18:25</span>
            <p>28.11.2018</p>
          </div>
          <div class="page-orders-item-plate">
            <span>Р567ОК</span><span>799</span>
          </div>
          <div class="page-orders-item-brand">
            <span>Land Rover Range Rover Sport</span>
          </div>
        </a>
      </div>
      <div class="page-orders-item-bg">
        <a href="/order" class="page-orders-item">
          <div class="page-orders-item-number">
            <span>№<b>632</b></span>
          </div>
          <div class="page-orders-item-timedata">
            <span>18:00–18:25</span>
            <p>28.11.2018</p>
          </div>
          <div class="page-orders-item-plate">
            <span>Р567ОК</span><span>799</span>
          </div>
          <div class="page-orders-item-brand">
            <span>Land Rover Range Rover Sport</span>
          </div>
        </a>
      </div>
    </div>
  </div>

</div>